
.service-card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 0 50px;
}  

.service-card-container figure img{
    max-width: 120px;
    aspect-ratio: 1;

}


.service-card-container p.services{
    font-size: 17px;
    line-height: 26px;
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
    margin-top: 25px;
}

.service-card-container h3.service-heading{
    font-weight: 600;
    font-size: 24px;
    line-height: 31.2px;
    text-align: center;
    color: var(--font-color);
    margin: 0;
}

.service-card-container .btn{
    width: 100%;
    background-color: var(--font-color);
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
}


@media (max-width: 1153px) {
    .service-card-container {
        padding: 20px ;
    }
}

