*{
    margin: 0;
    padding: 0;
    font-family: 'Jost',sans-serif;
}

:root{
    --font-color: #174689;
    --white-color: #fff;
    --btn-color: #1076DE;
    --text-color: #515854;
    --comment-color: #0D229E
}